In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
df_data = pd.read_csv("1970-2021_natural_disasters-emdat_data.csv")
data = df_data

In [3]:
data.columns

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [4]:
columnas_deseadas = [
    'Dis No','Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution'
]

df_miscol = df_data[columnas_deseadas]

In [5]:
df_miscol

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,ISO,Region,Continent,Location,Origin,Associated Dis,Associated Dis2,OFDA Response,Appeal,Declaration,Aid Contribution
0,1970-0013-ARG,1970,13,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Argentina,ARG,South America,Americas,Mendoza,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,109,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Ada,Australia,AUS,Australia and New Zealand,Oceania,Queensland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,44,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Benin,BEN,Western Africa,Africa,Atacora region,NaN,NaN,NaN,Yes,NaN,NaN,NaN
3,1970-0063-BGD,1970,63,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,Bangladesh,BGD,Southern Asia,Asia,"Khulna, Chittagong",NaN,NaN,NaN,Yes,NaN,NaN,NaN
4,1970-0026-BGD,1970,26,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,Bangladesh,BGD,Southern Asia,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,449,FL-2021-000110,Natural,Hydrological,Flood,NaN,NaN,NaN,Yemen,YEM,Western Asia,Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sana’a C...",Heavy rains,NaN,NaN,NaN,NaN,NaN,NaN
14640,2021-0075-ZAF,2021,75,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,South Africa,ZAF,Southern Africa,Africa,"Mpumalanga Province, Free State Province and t...",Heavy rains,NaN,NaN,NaN,NaN,NaN,NaN
14641,2021-0599-COD,2021,599,EP-2021-000138,Natural,Biological,Epidemic,Viral disease,NaN,Meningitis,Congo (the Democratic Republic of the),COD,Middle Africa,Africa,Tshopo province,NaN,NaN,NaN,NaN,NaN,Yes,NaN
14642,2021-0020-SRB,2021,20,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Serbia,SRB,Southern Europe,Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Heavy rains,NaN,NaN,NaN,NaN,Yes,NaN
14643,2021-0481-SSD,2021,481,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,South Sudan,SSD,Northern Africa,Africa,"Mayendit County (Unity); Ayod, Fangak Counties...",Heavy rains,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_miscol.isnull().sum()

Dis No                     0
Year                       0
Seq                        0
Glide                  13063
Disaster Group             0
Disaster Subgroup          0
Disaster Type              0
Disaster Subtype        2747
Disaster Subsubtype    13600
Event Name             10999
Country                    0
ISO                        0
Region                     0
Continent                  0
Location                1346
Origin                 10864
Associated Dis         11412
Associated Dis2        13946
OFDA Response          13194
Appeal                 12204
Declaration            11517
Aid Contribution       13967
dtype: int64

In [7]:
df_miscol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14644 entries, 0 to 14643
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Dis No               14644 non-null  object
 1   Year                 14644 non-null  int64
 2   Seq                  14644 non-null  int64
 3   Glide                1581 non-null   object
 4   Disaster Group       14644 non-null  object
 5   Disaster Subgroup    14644 non-null  object
 6   Disaster Type        14644 non-null  object
 7   Disaster Subtype     11897 non-null  object
 8   Disaster Subsubtype  1044 non-null   object
 9   Event Name           3645 non-null   object
 10  Country              14644 non-null  object
 11  ISO                  14644 non-null  object
 12  Region               14644 non-null  object
 13  Continent            14644 non-null  object
 14  Location             13298 non-null  object
 15  Origin               3780 non-null   object
 16  Associated Dis       3232 non-null   object
 17  Associated Dis2      698 non-null    object
 18  OFDA Response        1450 non-null   object
 19  Appeal               2440 non-null   object
 20  Declaration          3127 non-null   object
 21  Aid Contribution     677 non-null    float64
dtypes: float64(1), int64(2), object(19)
memory usage: 2.5+ MB

-----------------

#### COLUMNA Dis No: Código único de desastre

- Índice 1
- Datos de tipo objeto (string)
- Incluye el año, Seq y ISO

In [8]:
df_data['Dis No'].value_counts()

Dis No
1970-0013-ARG    1
2008-0506-SOM    1
2008-0257-SUR    1
2008-9755-SYR    1
2008-0384-TCA    1
                ..
1996-0468-SDN    1
1996-0126-SDN    1
1996-9220-SDN    1
1996-0130-SLE    1
2021-0481-SSD    1
Name: count, Length: 14644, dtype: int64

#### COLUMNA Year: Año del desastre

- Índice 2
- Pensamos dejarla si conseguimos calcular la Duration para facilitar visualizaciones

In [9]:
df_data['Year'].value_counts()

Year
2002    532
2000    523
2005    498
2007    449
2001    447
2006    446
2019    442
2010    441
1999    416
2004    405
2008    400
2015    398
2020    398
2003    392
2009    384
2017    371
2012    370
1998    363
2011    357
2013    353
2016    350
2014    348
2018    338
1997    323
2021    315
1990    303
1995    277
1996    273
1993    267
1991    266
1994    255
1988    234
1992    232
1987    227
1983    206
1989    189
1985    175
1986    174
1984    156
1982    150
1981    146
1980    144
1977    141
1978    137
1979    122
1976     99
1970     82
1974     72
1975     67
1973     65
1972     63
1971     63
Name: count, dtype: int64

#### COLUMNA Seq – Número de secuencia en el año según la base de datos EM-DAT.

- Índice 3
- La eliminamos ya que no aporta información extra al Dis No

#### COLUMNA Glide: Global Unique Disaster Identifier

- Índice 4
- 89% de nulos y datos sin valor. La eliminamos.

#### COLUMNA Disaster Group – Grupo principal (ej. Natural, Technological)

- Índice 5
- Datos de tipo objeto (string)
- No hay valores nulos, pero todos los valores son "Natural". Eliminamos la columna.

In [10]:
df_data['Disaster Group'].value_counts()

Disaster Group
Natural    14644
Name: count, dtype: int64

In [11]:
df_data['Disaster Group'].unique()

array(['Natural'], dtype=object)

#### COLUMNA Disaster Subgroup – Subgrupo (ej. Meteorological, Hydrological)

- Índice 6
- Datos de tipo objeto (string)
- No hay valores nulos, pero sí observamos categorías del desastre.

In [12]:
df_data['Disaster Subgroup'].value_counts()

Disaster Subgroup
Hydrological         5985
Meteorological       4589
Biological           1530
Geophysical          1400
Climatological       1139
Extra-terrestrial       1
Name: count, dtype: int64

#### COLUMNA Disaster Type – Tipo (ej. Storm, Flood)

- Índice 7
- Datos de tipo objeto (string)
- No hay valores nulos, encontramos valores concretos sobre el tipo de desastre

In [13]:
df_data['Disaster Type'].value_counts()

Disaster Type
Flood                    5272
Storm                    4005
Epidemic                 1436
Earthquake               1137
Landslide                 713
Drought                   685
Extreme temperature       584
Wildfire                  452
Volcanic activity         222
Insect infestation         93
Mass movement (dry)        41
Glacial lake outburst       2
Impact                      1
Animal accident             1
Name: count, dtype: int64

In [14]:
df_data['Disaster Type'].unique()

array(['Flood', 'Storm', 'Drought', 'Landslide', 'Earthquake', 'Epidemic',
       'Wildfire', 'Mass movement (dry)', 'Extreme temperature ',
       'Volcanic activity', 'Insect infestation', 'Impact',
       'Animal accident', 'Glacial lake outburst'], dtype=object)

#### COLUMNA Disaster Subtype – Subtipo (ej. Tropical cyclone)

- Índice 8
- Datos de tipo objeto (string)
- 2747 nulos - Repetimos información de "Disaster Type" para conservar los que sí tenemos info.

In [15]:
df_miscol["Disaster Subtype"] = df_miscol["Disaster Subtype"].fillna(df_miscol["Disaster Type"])

C:\Users\PC\AppData\Local\Temp\ipykernel_5248\1272324094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_miscol["Disaster Subtype"] = df_miscol["Disaster Subtype"].fillna(df_miscol["Disaster Type"])

In [16]:
df_miscol['Disaster Subtype'].unique()

array(['Flood', 'Tropical cyclone', 'Storm', 'Drought', 'Avalanche',
       'Ground movement', 'Bacterial disease', 'Flash flood',
       'Land fire (Brush, Bush, Pasture)', 'Landslide', 'Riverine flood',
       'Convective storm', 'Cold wave', 'Heat wave', 'Ash fall',
       'Viral disease', 'Forest fire', 'Coastal flood',
       'Insect infestation', 'Tsunami', 'Parasitic disease', 'Locust',
       'Severe winter conditions', 'Rockfall', 'Epidemic', 'Grasshopper',
       'Mudslide', 'Subsidence', 'Extra-tropical storm', 'Wildfire',
       'Mass movement (dry)', 'Impact', 'Lava flow', 'Volcanic activity',
       'Animal accident', 'Pyroclastic flow ', 'Earthquake',
       'Glacial lake outburst'], dtype=object)

In [17]:
print("Nulos después:", df_miscol["Disaster Subtype"].isna().sum())

Nulos después: 0

In [18]:
df_miscol['Disaster Subtype'].value_counts()

Disaster Subtype
Riverine flood                      2633
Tropical cyclone                    2066
Flood                               1788
Ground movement                     1097
Convective storm                    1084
Flash flood                          770
Bacterial disease                    744
Storm                                724
Drought                              685
Landslide                            555
Viral disease                        509
Forest fire                          303
Cold wave                            302
Heat wave                            205
Ash fall                             203
Epidemic                             137
Extra-tropical storm                 131
Land fire (Brush, Bush, Pasture)     115
Avalanche                            111
Coastal flood                         81
Severe winter conditions              77
Mudslide                              75
Locust                                59
Parasitic disease                     46
Tsunami                               38
Wildfire                              34
Insect infestation                    18
Grasshopper                           16
Rockfall                              10
Lava flow                              9
Volcanic activity                      8
Subsidence                             2
Pyroclastic flow                       2
Earthquake                             2
Glacial lake outburst                  2
Mass movement (dry)                    1
Impact                                 1
Animal accident                        1
Name: count, dtype: int64

#### COLUMNA Disaster Subsubtype – Sub-subtipo (si aplica)

- índice 9
- 93% de nulos, la eliminamos. Todos los subtypes tienen subsubtype, no nos ayuda para resolver los nulos de la columna anterior.

In [19]:
mask = df_data["Disaster Subtype"].isna() & df_data["Disaster Subsubtype"].notna()
print("Casos con Subsubtype pero sin Subtype:", mask.sum())

Casos con Subsubtype pero sin Subtype: 0

#### COLUMNA Event Name – Nombre del evento (si existe)

- Índice 10
- 75% de nulos - DE MOMENTO DEJAMOS como NAN

- Todos los Disaster Type tienen al menos un nulo en Event Name

* La mayoría provienen de "Flood" - 5261, siguiendo "Storm" - 1840 y "Earthquake" - 1136
* No la eliminamos, de las 3645 filas que tenemos nombre posteriormente podemos sacar info/gráficas.

In [20]:
df_miscol['Event Name'].isnull().sum()

10999

In [21]:
nulos_por_type = (
    df_miscol.groupby("Disaster Type")["Event Name"]
      .apply(lambda x: x.isna().sum())
      .reset_index(name="Nombre nulo")
)

nulos_por_type

            Disaster Type  Nombre nulo
0         Animal accident            1
1                 Drought          685
2              Earthquake         1136
3                Epidemic          268
4    Extreme temperature           583
5                   Flood         5261
6   Glacial lake outburst            2
7                  Impact            1
8      Insect infestation           36
9               Landslide          711
10    Mass movement (dry)           40
11                  Storm         1840
12      Volcanic activity            7
13               Wildfire          428

In [22]:
df_sin_nulos = df_miscol[df_miscol['Event Name'].notna()][['Disaster Type', 'Event Name']]
df_sin_nulos

           Disaster Type                          Event Name
1                  Storm                                 Ada
14                 Storm                                Fran
15              Epidemic                             Cholera
23              Epidemic                             Cholera
28              Epidemic                             Cholera
...                  ...                                 ...
14629           Wildfire                       Bootleg Fire
14632  Volcanic activity                       La Souffrière
14633              Storm                    Hurricane 'Elsa'
14637              Storm  Tropical cyclone 'Conson' (Jolina)
14641           Epidemic                          Meningitis

[3645 rows x 2 columns]

#### COLUMNA Country – País afectado

- Índice 11
- Datos de tipo objeto (string)
- No disponemos de valores nulos.
- El país que encabeza nuestra lista es USA, seguido de China.
- Filtrado realizado para evitar reiteraciones y algunos nombres antiguos resueltos (Checoslovaquia - Rep Checa). URSS conservada ya que no abarcaba sólo Rusia.

In [23]:
sorted(df_miscol["Country"].unique())

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Azores Islands',
 'Bahamas (the)',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Canary Is',
 'Cayman Islands (the)',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros (the)',
 'Congo (the Democratic Republic of the)',
 'Congo (the)',
 'Cook Islands (the)',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic (the)',
 'Czechoslovakia',
 'Côte d’Ivoire',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic (the)',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia (the)',
 'Georgia',
 'Germany',
 'Germany Dem Rep',
 'Germany Fed Rep',
 'Ghana',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea (the Democratic People's Republic of)",
 'Korea (the Republic of)',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic (the)",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Macedonia (the former Yugoslav Republic of)',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Marshall Islands (the)',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Moldova (the Republic of)',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands (the)',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger (the)',
 'Nigeria',
 'Niue',
 'Northern Mariana Islands (the)',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine, State of',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines (the)',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation (the)',
 'Rwanda',
 'Réunion',
 'Saint Barthélemy',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French Part)',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia Montenegro',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Soviet Union',
 'Spain',
 'Sri Lanka',
 'Sudan (the)',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan (Province of China)',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands (the)',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates (the)',
 'United Kingdom of Great Britain and Northern Ireland (the)',
 'United States of America (the)',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Virgin Island (British)',
 'Virgin Island (U.S.)',
 'Wallis and Futuna',
 'Yemen',
 'Yemen Arab Rep',
 'Yemen P Dem Rep',
 'Yugoslavia',
 'Zambia',
 'Zimbabwe']

In [24]:
# Diccionario de normalización de países
replace_dict = {
    # Congo
    "Congo (the Democratic Republic of the)": "Democratic Republic of the Congo",
    "Congo (the)": "Republic of the Congo",

    # Czechia / Checoslovaquia
    "Czech Republic (the)": "Czech Republic",
    "Czechoslovakia": "Czech Republic",  # ya no existe, se fusiona con Czechia

    # Alemania
    "Germany Fed Rep": "Germany",
    "Germany Dem Rep": "Germany",

    # Guinea
    "Guinea-Bissau": "Guinea-Bissau",
    "Guinea": "Guinea",

    # Yemen
    "Yemen Arab Rep": "Yemen",
    "Yemen P Dem Rep": "Yemen",
}

# Aplicar reemplazo
df_miscol["Country"] = df_miscol["Country"].replace(replace_dict)

C:\Users\PC\AppData\Local\Temp\ipykernel_5248\2851945740.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_miscol["Country"] = df_miscol["Country"].replace(replace_dict)

In [25]:
df_miscol["Country"].value_counts().head(20)

Country
United States of America (the)    949
China                             906
India                             658
Philippines (the)                 612
Indonesia                         528
Bangladesh                        317
Japan                             272
Mexico                            262
Viet Nam                          241
Australia                         240
Brazil                            227
Pakistan                          213
Iran (Islamic Republic of)        205
Afghanistan                       200
Colombia                          188
Peru                              178
France                            173
Russian Federation (the)          173
Thailand                          155
Italy                             147
Name: count, dtype: int64

#### COLUMNA ISO – Código ISO del país

- Índice 12
- Ya que aparece incluído en 'Dis No' y podemos averiguarlo, eliminamos.

In [26]:
df_miscol=df_miscol.drop(columns=['Seq', 'Glide', 'Disaster Group', 'Disaster Subsubtype', 'ISO'])

#### COLUMNA Region – Región (ej. Americas, Asia)

- Índice 13
- Datos de tipo objeto (string)
- No disponemos de valores nulos. Completa la información de "Continente". Dejamos ambas para facilitar las visualizaciones (por si queremos filtrar por Continente o región posteriormente).

In [27]:
df_miscol[['Region', 'Continent']].head()

                      Region Continent
0              South America  Americas
1  Australia and New Zealand   Oceania
2             Western Africa    Africa
3              Southern Asia      Asia
4              Southern Asia      Asia

In [28]:
# Tabla de frecuencia cruzada
tabla_region_cont = pd.crosstab(df_miscol['Region'], df_miscol['Continent'])

tabla_region_cont

Continent                  Africa  Americas  Asia  Europe  Oceania
Region
Australia and New Zealand       0         0     0       0      312
Caribbean                       0       530     0       0        0
Central America                 0       751     0       0        0
Central Asia                    0         0   141       0        0
Eastern Africa               1128         0     0       0        0
Eastern Asia                    0         0  1578       0        0
Eastern Europe                  0         0     0     535        0
Melanesia                       0         0     0       0      232
Micronesia                      0         0     0       0       43
Middle Africa                 421         0     0       0        0
Northern Africa               305         0     0       0        0
Northern America                0      1075     0       0        0
Northern Europe                 0         0     0     207        0
Polynesia                       0         0     0       0       75
Russian Federation              0         0     0      47        0
South America                   0      1163     0       0        0
South-Eastern Asia              0         0  1809       0        0
Southern Africa               200         0     0       0        0
Southern Asia                   0         0  1849       0        0
Southern Europe                 0         0     0     577        0
Western Africa                758         0     0       0        0
Western Asia                    0         0   416       0        0
Western Europe                  0         0     0     492        0

#### COLUMNA Continent - Continente

- Índice 14
- Datos de tipo objeto (string)
- No tenemos valores nulos

#### COLUMNA Location – Lugar específico

- Índice 15
- 1346 nulos. Los modifico reiterando la información de "Region", para no perder información pero eliminar los nulos (similar a lo que hice con Types y Subtypes)

In [29]:
df_miscol["Location"] = df_miscol["Location"].fillna(df_miscol["Region"])

In [30]:
print("Nulos después:", df_miscol["Location"].isna().sum())

Nulos después: 0

In [31]:
df_miscol.sample(5)

,Dis No,Year,Disaster Subgroup,Disaster Type,Disaster Subtype,Event Name,Country,Region,Continent,Location,Origin,Associated Dis,Associated Dis2,OFDA Response,Appeal,Declaration,Aid Contribution
4892,1996-0490-SOM,1996,Biological,Epidemic,Bacterial disease,Cholera,Somalia,Eastern Africa,Africa,"Mogadishu, Merca, Middle Shabelle and Galgaduu...",NaN,NaN,NaN,NaN,No,No,NaN
12105,2014-0271-JPN,2014,Hydrological,Landslide,Landslide,NaN,Japan,Eastern Asia,Asia,"Hirosimasi_Asaminamiku, Hirosimasi_Asakitaku d...",Torrential rainfall,NaN,NaN,NaN,NaN,NaN,NaN
2802,1993-0462-CHN,1993,Meteorological,Storm,Storm,Levis,China,Eastern Asia,Asia,Hainan province,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13784,2020-0060-ARG,2020,Meteorological,Storm,Convective storm,NaN,Argentina,South America,Americas,"Famaillá, La Reducción, La Madrid, Los Ralos, ...",NaN,Flood,NaN,NaN,NaN,NaN,NaN
4992,1997-0280-UGA,1997,Hydrological,Landslide,Landslide,NaN,Uganda,Eastern Africa,Africa,Mbale Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN

-----------------

#### COLUMNA Origin – Origen del desastre (ej. Natural, Industrial)

- Índice 16
- 10864 nulos, he intentado agrupar por categorías pero es imposible ya que agrupa muchos en "Other" debido a typos y textos largos. De momento la dejo por si queremos revisar algún dato concreto.

In [32]:
df_miscol["Origin"].isnull().sum()

10864

In [33]:
df_miscol["Origin"].unique()

array([nan, 'Typhoon ', 'Heavy rains', 'Landslide', 'Heavy rain',
       'Earthquake and landslide', 'Famine', 'El Nino',
       'Extra-tropical cyclone', 'Brief torrential rain',
       'Heavy rains and thunderstorms', 'Monsoonal rain',
       'Monssonal rain', 'Heavy rains, tremor', 'Brief torrential rains',
       'Monsoon rain', 'Tropical cyclone', 'Drought period',
       'Prolonged drought', 'Monsoon rains',
       'Volcanic activity, tropical rainstorms and ash from the eruptions',
       'monsoonal rain', 'Heavy rain and Snowmelt',
       'Snowmelt and Heavy rains', 'Rain, snowmelt', 'Earthquake',
       'Snowmelt', 'Hevay rain', 'Typhoon Gali', 'Mosoonal rain',
       'Heavy rain and brief torrential rain',
       'Breakdown water supply, poor hygiene practices and increase of number of displaced perdons',
       'Flood', 'Heavy rains, melting snow', 'Continous rainfall',
       'Snow storm and heavy winds', 'Rain and snowmelt', 'Lack rainfall',
       'Food consumed', 'El Nino phenomenom',
       'butchering of cattle which died of sudden illness and consumption of meat and other tissues',
       'poor sanitation, lack of safe water and socio-cultural factors',
       'Torrential rain', 'Torrential rains',
       'unprecedented increase in the rat population',
       'Heavy rains, Snowmlet', 'Snow melt', 'Lack of rainfall',
       'Heavy rains which caused floods and poor sanitary conditions',
       'Ici jam',
       'coincided with the return of over 9000 Congolese citizen from Angola',
       'The Rio Sirinhaem', 'Lack of rain', 'Lack of rain, El Nino',
       'Dam/levy, break or release', 'Exposure to pigs', 'Rain storms',
       'Heavy rain and snow melt', 'Moosonal rain',
       'flower show in the north',
       'Piga imported from outbreaks areas in Malaysia',
       'Lack of rain, extreme temperature',
       'water from river Kigombe used for domestic purposes and drinking',
       'Breif torrential rain',
       'Dam/Levy, break or release and heavy rains',
       'Rain triggered by Typhoon Kai-Tak', 'Dry and hot weather',
       'inadequate suppky of safe drinking water and use of polluted local water sources',
       'Cyclone Beni, heavy rains', 'High temperature, high winds',
       'Heavy Rains', 'El Nino, heavy rains', 'Ice jams',
       'Heavy rains, hail and winds', 'ice jam/break-up',
       'Hurricane Michelle', 'HEavy rain', 'floods', 'Insufficient rains',
       'Insufficient and erratic monsoon rain',
       'Dam/Levy, break or release',
       'Heavy snow, low temperatures, heavy rains', 'Hevay rains',
       'Torrential rains, heavy winter storms',
       'Tropical depression/cyclone Delfina',
       'Tropical depression/Cyclone Delfina',
       'Poor agro-climaic conditions', 'Ice jam/break',
       'Mountain glacier disloged', 'Heavy snowfalls, heavy rains',
       'Melting snow', 'Lack safe water', 'Snowmelt, heavy rain',
       'Heavy rains and snowmelt', 'High temperature, violent winds',
       'Torrential rainstorms', 'Torrential rains, electric storms,',
       'Constant rains', 'Lack of precipation, heat wave',
       'Mousson rain, tidal surge', 'Heavy rains, high winds',
       'Heavy rain, deforestation', 'Raining season', 'Monsoon rain ',
       'Irregular and insufficient rainfall in 2001 and 2002',
       'Heavy rains, snow melt', 'Drought',
       'Lightening, heat wave, drought, pyromane',
       'Crop failure, lack pasture, poor/erratic long rains',
       'Drought, man', 'Cold front', 'Heat wave', 'Mousson rains',
       'Poor rainfall', 'Heavy rain, snowmelt', 'Early monsoonal rain',
       'Rainstorms', 'Heavy rains ', 'Break/release of dam/levy',
       'Lack of clean water', 'Human, high temperature, drought and wind',
       'Heavy rainfall', 'Incessant rains', 'Water source',
       'Heavy snowfall', 'Heavy rains and melting snow', 'Snowstorms',
       'Dam/levy break or release',
       'Sudden unseasonal rains, monsoonal rain',
       'Heavy rains, deforestation', 'Rain and snow',
       'Tropical depressions', 'Continuous rains',
       'Heat wave, drought, high winds, low humidity',
       'Contaminated water',
       'Lack of fresh water supplies, use of contaminated lagoon',
       'Major piped water source contaminated',
       'Tropical monsoon rain, cold depression', 'Unsafe drinking water',
       'Moonson rain', 'Continuous rain from tropical depression Ambo',
       'Heavy rains and movements of population along NIger river',
       'Tropical waves, heavy rains', 'Unseasonable summer storms',
       'Intense rainfall', 'Monsoon',
       'Water provision failure, poor hygiene practices, unthreated water',
       'High population migration and shortage of clean water',
       'Torrental rains',
       'Heavy rains, overcrowed slums, infected traders', 'Rainstorm',
       'Melting sow, heavy rain',
       "Town's cesspools, dirty waters, lack of proper hygiene",
       'Heavy rains and snow', 'Heavy rain, heavy snow',
       'Heavy rains and ice', 'Snowstorm', 'Heavy raisn and melting snow',
       'Heavy rains, snowmelt', 'Heavy and melting snow',
       'Brief torrential rain and snowmelt',
       'Melting snow and continuous rain',
       'Lack of rain, prolonged dry season', 'Thunderstorm',
       'Violent thunderstorms', 'Monsonal rains',
       'Successive failed rainy seasons',
       'Two consecutive failed rainy seasons', 'Mosoon rains',
       'Dry wetaher and heat wave', 'Thunderstorms',
       'Barbecue and high winds',
       'Large amount of snow during winter and late onset of spring thaw',
       'Monsoonal rains', 'Mosnoon rain', 'Continuous rain',
       'Mosnoonal rain', 'Monsoonal rai', 'Rains and sonwmelt',
       'Rains and snowmelt', 'Raisn and snowmelt',
       'Dam/levy break of release, rains and snowmelt',
       'Melting snow, sesonal rains', 'Heavy rains, snow',
       'Torrentail rain', 'Human', 'Heavy Rain',
       'Snowmlet and hevay rain',
       'Bad weather associated with tropical storm Chris',
       'Snowmelt and strong rains',
       'Monsoonal rain and Cyclonic storm Ogni',
       'Heavy rains and hailstorms', 'Heavy rains, melting ice',
       'Heavy rain and snowmelt', 'Heavy rain due to El Nino',
       'Torrential rain, El Nino blamed', 'After flooding', 'Dam break',
       'Late monsoon rains', 'Storm',
       'Locust infestation, repeated floods, pest infestation',
       'Poor rainfall and indequater supplies of fertlizer',
       'Drought and locusts infestation', 'Poor and erratic rainfall',
       'Mosoonal rains',
       'Seasonal warming of temperatures and rapid melting of snow',
       'Lack of rains', 'Heavy rains and storms', 'Polluted river',
       'Heavy snowfall during winter and unprecedented high temperatures',
       'Heavy rainsfalls', 'Poor sanitation',
       'Inter-Monsoonal rain and storms', 'Snowmelt and hevay rains',
       'Heavy rain, thunderstoms', 'Torrentital rain',
       'Rain and snowmelt, excessive dumping of water',
       'Torrential rains, electrical storms, thunderstorms',
       'Heavy rains and lightening', 'Scarcity of rain',
       'Contamination of water',
       'Floods and disruption of water and sanitation facilities',
       'Tropical Depression Agaton', 'Continuous monsoon rain',
       'Use of untreated water', 'Heavy rain and unseasonable snow',
       'Severe storms', 'Heavy rains and cyclones', 'Excessive rains',
       'Heavy snow fall', 'Storms and heavy rains', 'continuous rain',
       'Seasonal torrential rain', 'Monsoonal rain and tropical cyclone',
       'Sub-marine volcano', 'Heavy rain, La Nina',
       'Heavy rain, thunderstorms', 'Heavy rains, violent storms',
       'After flood', 'Melting snow and heavy rains',
       'High temperatures and dry conditions',
       'High temperatures, heavy winds, dry conditions',
       'Lack of rain from last six months', 'La Nina, heavy rain',
       'Poor sanitation and hygiene conditions', 'Unknown',
       'Human, high winds and drought',
       'Hot and dry weather, strong winds',
       'Tropical depression in Bay of Bengal',
       'Heavy rains, concentration of humidity, over saturation of soil',
       'Heavy drought, weak reany season, loss of animals, food shortages and increase of prices',
       'Moonsonal rain', 'Storm and heavy rains',
       'Indirect influence of tropical storms', 'Tropical Depression 16',
       'Heavy rains, combination of cold front and low pressure system',
       'Tropical depression 16 (Paloma), low depression and swell',
       'River Kosi in Nepal discharged huge levels of water, monsoonal rains',
       'Delayed and below-normal rains',
       'Poor hygiene habits, lack of sanitation facilities, heavy rains, contaminated sources of drinking water',
       'Hevay tropical rains', 'Tropical depression 16',
       'El Nino, dry ecosystem, high temperatures and lon period withoit rainfall',
       'Heavy rainstorms', 'Torrential rains (cold front winter season)',
       'Heavy seasonal rains',
       'Basic infrastructure inefficient, water quality and sanitation poor',
       'Tropical cyclone Nisha', 'Heavy monsoonal rain',
       'Flood, poor clean water supply and sanitation systems',
       'Havy rains', 'Ice Jam/break-up', 'Tropical storm Lando',
       'heavy rain', 'Tropical cyclone Cuba',
       'High temperature and low rainfall',
       'Drought, cyclone et inondations', 'Typhoon Nari', 'High tides',
       'Heavy rain, Hurricane Felix', 'Heat waves',
       'Tropical storm Peipah',
       'Tradition of burning crop fields, drought and lack of rain',
       'Snowmelt, Ice jam/break-up', 'Hravy rain',
       'low latrine coverage, contamination water, poor hygiene practices in IDP camps',
       'Lack of precipitation', 'Tropical storm', 'Typhoon Peipah',
       'Early monsoon, dam break', 'Cold front meeting warm, moist air',
       'Tropical Storm Kammuri', 'Heavy rains, El Nina and El Nino',
       'Storm and heavy vrain',
       'Lack of rains and increase of food prices',
       'Severe winter storm, locust infestation, increase in food and fuel cost',
       'Tropical storm (level 3)', 'Poor November rain', 'Dirty water',
       'Unhygienic conditions, water', 'Torrential rain, Monsoon',
       'Heavy monsoon rains', 'Low pressure system',
       'Heavy rain (Tail-end of a cold front)',
       'Tropical Depression Julian', 'Low depression',
       'Prolonged dry spelle and hig temperatures',
       'Drought, high winds, heat waves, human factors',
       'Combined effect of the rainy season and limited access to potable water and poor sanitation facilities',
       'Lightening, drought, wind', 'Poor sanitation and hygiene',
       'High temperatures', 'Snowmelt, hevay rain',
       'Record temperatures and strong winds',
       'Intense monsoonal activity', 'Heavy rain and melting snow',
       'Heavy rain and storms', 'Drought situation', 'Low precipitations',
       'Failed rains', 'La Nina', 'Tropical cyclone Laurence',
       'Hevay rains and two cylones Ellie and Charlotte',
       'Continuous rainfall and opening of Nagbéto dam in Togo',
       'Poor rainy season, El NIno', 'Heavy rains and Dam Release',
       'Heavy torrential rains', 'Heavy monsoonal rains',
       'Heavy rains, system of low pressure in combination with Tropical Storm Tomas',
       'Severe dry conditions', 'Cyclone Tasha, La Nina',
       'Rainfall deficit in October December 2010',
       'El Nino, Heavy rains', 'Extremely dry conditipns', 'Heavy snow',
       'Heavy rains, La Nina', 'Dry conditions', 'Torrentail rains',
       'Torrential rainfall',
       'Heavy rains and opening of the gates of dikes',
       'Heavy rains, convergence of two low-pressure systems',
       'Heavy rains and human work', 'Torrential rain, La Nina',
       'Fonte des neiges et pluies',
       'Continuous torrential rain combined with monsoonal depression',
       'Mosnoonal rains', 'El Nino, exceptional heavy rains',
       'Irregular rain',
       'Poor, irregular, dispersed and eraly cessation of rainfall',
       'Heavy rain, cold front', 'Heavy rain, flooding',
       'Continuous rainfall', 'La Nina and El Nino, deforestation',
       'Heavy rains, Long Rains Season (March-June)',
       'Heavy rains associated with Tropical Depression 11E',
       'Heavy rain and snow',
       'Low pressure system interacting with Tropical Storm Tomas',
       'Continuous rains due to tail-end of a cold front',
       'Heavy rain, Snowmelt and rise of temperature',
       'Heat wave and drought',
       'Seasonal rain above the average in 2010 and 2011',
       'Failure of Gu and Deyr rain y seasons in 2009',
       'Poor sanitation and contamination of wells, floods situation',
       'Intermittent rain, tropical depression Agatha',
       'Increase in temperatures and scarcity of safe drinking water',
       'Moderate and heavy rain', 'Continuous heavy rains',
       'Sharp increase in temperatures triggering melting snow',
       'Tropical Depression', 'Heavy rains, Moonson rain',
       'Heavy rains associated with Tropical depression 14',
       'Tropical storm Nock-Ten, Monsoonal rains',
       'Monsoonal rains, tropical storms', 'Lightning',
       'Abundant snowmelt and heavy rains', 'Tropical storm Haima',
       'Contamination of the Biver river and its tributaries',
       'Drought, high temperatures and strong winds',
       'Bad distibution of rain, conflict and bad recolt',
       'Heavy and constant rain', 'Heavy rains, Rapid snow melting',
       'Rainfall', 'Tropical Depression 12-E',
       'Heavy rains, Tropical Depression 12-E',
       'Limited snowfall and rainfall',
       'Consecutive seasons of poor rainfall, rapid population growth, sustained high food prices, endemic poverty',
       'Dry conditions, strong winds',
       'High temperatures, vrable winds, human beings',
       'Monsoonal rains, dam releases', 'Snow, heavy rains and hail',
       'Late, erratic and unevenly distributed rainbfall during 2011/2012',
       'Low pressure systeù', 'Heavy rains, TRopical depression',
       'Torrential rain, continuous precipittaion and melting of huge accumulation of snow',
       'Redoux after heavy snow', 'Snowmelt and heavy rains',
       'Typhoon Bolaven',
       'Series of heavy rains, floods and landslides disrupting production and distribution of safe water',
       'Heavy rains, tropical depression TD17F-2012',
       'Heavy rains, hurricane Nadine', 'On emonth worth-of-rainfall',
       'Strong rains', 'Heat wave, dry conditions and gusty winds',
       'High temperature and violent winds', 'Prolonged heavy rainfall',
       'Excessive rainfall',
       'Sweeping cold front with heavy snowfall and rains',
       'Persitent rain', 'Moonsonal rains',
       'Heavy rains enhanced by Tropical cyclone Rusty',
       'Maybe linked to an earthquake',
       'Extreme heat, dry conditions and gusty winds', 'Violent weather',
       'Torrenial rain', 'Tropical storm 2',
       'Polonged periods of drought follwoed by excessive rains',
       'Insufficient rainfall',
       'Dry spells and pests, bad harvests 2010/2011',
       'Poor rainy season', 'Heavy raisn and storms',
       'Heavy rains, tropical storm', 'Storms',
       'Low Pressure Area and Tail End of the Cold FRont',
       'Contaminated water supply',
       'Lenthly dry spells overt past 3 years, current high food prices and recent devaluation of the currency',
       'Environmenatl effectes associated with la Nina lead to disruption of rain patterns',
       'Insufficent rains', 'Quick snow melting and heavy rains',
       'Combined impact of poor rainfall and extremely high temperatures',
       'Tail-end of a cold front', 'Effects of low pressure area',
       'Monsoonal rain enhnaced by Typhoon Haikui and Saola',
       'Temperature, melting snow and spring rains',
       'Heavy rains, low level troug system',
       'Monsoonal rain (HABAGAT), enhanced by Tropical Storm Maring (Trami)',
       'Limited rainfall',
       'Continuous showers and thuderstorms, Effect of Continuous Rain and Thunderstorms Due to Intertropical Convergence Zone',
       'Cyclone Cleopatra', 'Monsoonal rains and Typhoon Usagi',
       'Persitent rains', ' Tropical Depression 18', 'Monsoon rainfall',
       'Prolonged dry weather', 'Persistent rainfall',
       'Rainfall shortages', 'Rains, thunderstorms', 'Dry Hamatan wind',
       'Gu rains', 'Heavy snowmelt and rains',
       'Drought conditions and strong winds',
       'Monsoonla rains exacerbated by 3 tropical storms',
       'Severe lack of rainand extreme temperature',
       'Heavy rains, low-levl troug system', 'Slow moving storm system',
       'Torrentiak rain',
       'Hot temperatures, gusty winds, dry forest conditions',
       'Mosoonal rain and typhoon Usagi', 'Tropical depression Podul',
       'Dry and warm winds, high temperature', 'Torrential monsoon rains',
       "Depression 'Gonzalo'", 'Severe thunderstorm and heavy rainfall',
       'Lack of rain 2012 and 2013, high temperatures',
       'Days of rains and hails', 'Monsoonal rains and thunderstorms',
       'Severe rain', 'Haevy rainfall', 'Rainy season',
       'Landslide blocked river', 'Heavy rains and snow melt',
       'Hevay snowfall', 'Heavy rains and strong winds',
       'Lack of rain, heat wave', 'Hot, dry and windy conditions',
       'High temperatures and wind', 'Heavy seasonal Mei-Yu rains',
       'Mei-Yu rains', 'Seasonal rains',
       'El Nino; long uninterrupted drought combined with heavy unseasonable rains',
       'El NIno', 'Heavy rains, Storms Eva ad Franck', 'Torrential arins',
       'Torrential rains, El Nino', 'Extreme rainfall', 'Lighthning',
       'Monsoon season, torrential rains', 'Short and poorrainy season',
       'Remnant low pressure system of cyclone Hudhud',
       'Heavy rains, overflowing rivers after dam opening in Nepal',
       'Torrential monsoonal rains; Typhoon Kalmaegi',
       'Incessant heavy rains',
       'Prolonged heavy rainfall associated with a tropical depression',
       "Violents orages et impressionnantes crues d'oueds",
       'Rainfall deficit', 'Heavy and unseasonal rain',
       'Torrential monsoonal rain', 'Dam burst, snowmelt',
       'Heavy snow falls', 'Intense rains', 'Heay rain',
       'Monsoon rains, exacerbated by tail end of Cyclone Komen',
       'Torrential monsoonal rains', 'Heavy rains, tropical storm Etau',
       'Heavy rains, severe monsoon floods exacerbated by tail and of cyclone Komen',
       "Enhanced southwest monsoon by two tropical storm 'Egay' and Falcon'",
       'Effects of inter-tropical convergence zone',
       'Inter-tropical convergence zone', 'El nino',
       'Late and erratic start to the rainy season, El Nino',
       'Low rainfall', 'Climatic conditions and refugees',
       'Seosnal monsoon', 'Erratic rainfall', 'Hearvy rain',
       "Tropical depression 'Rovan'", 'Severe thunderstorms',
       'Sudden rise of temperature, snow melt', 'Raini season',
       'Heavy rains, Tropical Cyclones Nathan and Pam ',
       'Heavy rains, El Nino',
       'extremely dry weather, high air temperatures and heavy wind',
       'Seasonal Gu rains', 'Polar air mass flow', 'Pre-monsoon rains',
       'Heavy rains, Cyclone Roanu', 'Lack of rains, El NIno',
       'Combination of well above normal tempertaure and lack of rainfall',
       'Combination of well above normal temperature and lack of rainfall',
       'Heavy rains, remmants of Typhoon Lionrock',
       'Snwomelt, Ice jams and rising temperatures',
       'Slow onset of rainy season followed by severe flooding and then long dry spell, El Nino',
       'Heavy rains, strong storm system', 'Heavy and extented rainfall',
       'Heavy rrains', 'Massive rainfalls',
       'Heavy rains and small earthquake',
       'Excessive heat, drougth and winds', 'High temperature, Ligthning',
       'Pouring rainfall', 'Heav rains', 'Torrentila rains',

#### COLUMNA Associated Dis – Desastres asociados (1)

- Índice 17
- 78% de nulos, intento de rellenar con la info de Associated Dis2 pero tenemos 95% nulos en esa. Aun así, nos falta mucha info (11403). 

*Eliminar?

In [34]:
df_data["Associated Dis"].isnull().sum()

11412

#### COLUMNA Associated Dis2 – Desastres asociados (2)

- Índice 18
- 95% de nulos. Tras intentar sacar info para completar la anterior, eliminamos.

In [35]:
df_miscol["Associated Dis"] = df_miscol["Associated Dis"].fillna(df_miscol["Associated Dis2"])

In [36]:
df_miscol["Associated Dis"].unique()

array([nan, 'Tsunami/Tidal wave', 'Famine', 'Broken Dam/Burst bank',
       'Food shortage', 'Slide (land, mud, snow, rock)', 'Wildfire',
       'Hail', 'Heat wave', 'Crop failure', 'Surge', 'Storm', 'Flood',
       'Water shortage', 'Snow/ice', 'Epidemic', 'Cold wave', 'Drought',
       'Rain', 'Volcanic activity', 'Pollution',
       'Avalanche (Snow, Debris)', 'Transport accident', 'Fire',
       'Insect infestation', 'Collapse', 'Earthquake', 'Explosion',
       'Lightening', 'Fog', 'Industrial accidents'], dtype=object)

In [37]:
df_miscol["Associated Dis"].isnull().sum()

11403

#### COLUMNA OFDA Response – Respuesta de la Office of U.S. Foreign Disaster Assistance

- Índice 19
- 13194 nulos. Eliminamos.

In [38]:
df_miscol["OFDA Response"].isnull().sum()

13194

In [39]:
df_miscol.drop(columns=["OFDA Response", ])

,Dis No,Year,Disaster Subgroup,Disaster Type,Disaster Subtype,Event Name,Country,Region,Continent,Location,Origin,Associated Dis,Associated Dis2,Appeal,Declaration,Aid Contribution
0,1970-0013-ARG,1970,Hydrological,Flood,Flood,NaN,Argentina,South America,Americas,Mendoza,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,Meteorological,Storm,Tropical cyclone,Ada,Australia,Australia and New Zealand,Oceania,Queensland,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,Hydrological,Flood,Flood,NaN,Benin,Western Africa,Africa,Atacora region,NaN,NaN,NaN,NaN,NaN,NaN
3,1970-0063-BGD,1970,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,Southern Asia,Asia,"Khulna, Chittagong",NaN,NaN,NaN,NaN,NaN,NaN
4,1970-0026-BGD,1970,Meteorological,Storm,Storm,NaN,Bangladesh,Southern Asia,Asia,Southern Asia,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,Hydrological,Flood,Flood,NaN,Yemen,Western Asia,Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sana’a C...",Heavy rains,NaN,NaN,NaN,NaN,NaN
14640,2021-0075-ZAF,2021,Hydrological,Flood,Flood,NaN,South Africa,Southern Africa,Africa,"Mpumalanga Province, Free State Province and t...",Heavy rains,NaN,NaN,NaN,NaN,NaN
14641,2021-0599-COD,2021,Biological,Epidemic,Viral disease,Meningitis,Democratic Republic of the Congo,Middle Africa,Africa,Tshopo province,NaN,NaN,NaN,NaN,Yes,NaN
14642,2021-0020-SRB,2021,Hydrological,Flood,Flood,NaN,Serbia,Southern Europe,Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Heavy rains,NaN,NaN,NaN,Yes,NaN
14643,2021-0481-SSD,2021,Hydrological,Flood,Flood,NaN,South Sudan,Northern Africa,Africa,"Mayendit County (Unity); Ayod, Fangak Counties...",Heavy rains,NaN,NaN,NaN,NaN,NaN

#### COLUMNA Appeal – Si hubo apelación internacional

- Índice 20
- 12204 nulos. Considerar eliminar ?

In [40]:
df_miscol["Appeal"].isnull().sum()

12204

#### COLUMNA Declaration – Declaración oficial de desastre.

- Índice 21
- 11517 nulos. Podemos considerar que la mayoría no se consideraron oficialmente, o no disponemos de registros.

In [41]:
df_miscol["Declaration"].isnull().sum()

11517

#### COLUMNA Aid Contribution – Contribución de ayuda (si se registró)

- Índice 22
- 95% de nulos y muchos sin registrar. Eliminamos

In [42]:
df_miscol["Aid Contribution"].isnull().sum()

13967

In [44]:
df_miscol.drop(columns=["Associated Dis2","OFDA Response", "Aid Contribution","Appeal","Declaration"])

,Dis No,Year,Disaster Subgroup,Disaster Type,Disaster Subtype,Event Name,Country,Region,Continent,Location,Origin,Associated Dis
0,1970-0013-ARG,1970,Hydrological,Flood,Flood,NaN,Argentina,South America,Americas,Mendoza,NaN,NaN
1,1970-0109-AUS,1970,Meteorological,Storm,Tropical cyclone,Ada,Australia,Australia and New Zealand,Oceania,Queensland,NaN,NaN
2,1970-0044-BEN,1970,Hydrological,Flood,Flood,NaN,Benin,Western Africa,Africa,Atacora region,NaN,NaN
3,1970-0063-BGD,1970,Meteorological,Storm,Tropical cyclone,NaN,Bangladesh,Southern Asia,Asia,"Khulna, Chittagong",NaN,NaN
4,1970-0026-BGD,1970,Meteorological,Storm,Storm,NaN,Bangladesh,Southern Asia,Asia,Southern Asia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,Hydrological,Flood,Flood,NaN,Yemen,Western Asia,Asia,"Dhamar, Amran, Al Mahwit, Marib, Ibb, Sana’a C...",Heavy rains,NaN
14640,2021-0075-ZAF,2021,Hydrological,Flood,Flood,NaN,South Africa,Southern Africa,Africa,"Mpumalanga Province, Free State Province and t...",Heavy rains,NaN
14641,2021-0599-COD,2021,Biological,Epidemic,Viral disease,Meningitis,Democratic Republic of the Congo,Middle Africa,Africa,Tshopo province,NaN,NaN
14642,2021-0020-SRB,2021,Hydrological,Flood,Flood,NaN,Serbia,Southern Europe,Europe,"Zitoradja (Toplicki), Doljevac (Nisavski) , Di...",Heavy rains,NaN
14643,2021-0481-SSD,2021,Hydrological,Flood,Flood,NaN,South Sudan,Northern Africa,Africa,"Mayendit County (Unity); Ayod, Fangak Counties...",Heavy rains,NaN